/*Cor-base (body e h2)
  cor-fundo-img (figure)
  cor-borda-img(figure)
*/

:root{
    --cor-base: #000000;
    --cor-fundo-img: #dbdbdb;
    --cor-borda-img: #949494;
}

body {
    color: var(--cor-base);
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

h1 {
    background-image: url(../img/fundo.jfif);
    padding: 10px;
}

h2 {
    border-bottom: 2px groove var(--cor-base);
    margin-top: 30px;
}

figure {
    background-color: var(--cor-fundo-img);
    border: 1px solid var(--cor-borda-img);
    text-align: center;
    padding: 15px;
    margin: 30px;
}

figcaption {
    font-style: italic;
    margin-top: 10px;
}

p{
    padding: 0 45px;
    text-indent: 15px;
}

#historia {
    text-align: center;
}

#diferenciais {
    text-align: center;
    padding-top: 60px;
}

#centro-distribuicao{
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

.rodape{
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
}

.rodape img{
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}

#familia-pelho{
    float: right;
    margin: 0 0 10px 10px;
}

a{
    text-decoration: none;
}