/*Cor-base (body e h2)
  cor-fundo-img (figure)
  cor-borda-img(figure)
*/

:root{
    --cor-base: #000000;
    --cor-fundo-img: #808080;
    --cor-borda-img: #8d0b0b;
}

body {
    color: var(--cor-base);
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

h1 {
    background-image: url(../img/fundo.jfif);
}

h2 {
    border-bottom: 2px groove var(--cor-base);
}

figure {
    background-color: var(--cor-fundo-img);
    border: 1px solid var(--cor-borda-img
    );
    text-align: center;
}

figcaption {
    font-style: italic;
}