:root{
    --cor-primaria: #bd1e1ef1;
    --cor-secundaria: #000cad;
    --cor-destaque: #0093c0;
    --cor-fundo: #5a5a5a;
}

h1{
    color: var(--cor-primaria);
}

h2{
    color: var(--cor-secundaria);
}

p{
    color: var(--cor-destaque)
    
}